In [1]:
import pandas as pd
import json
import ast

In [2]:

rows = []
#Abrir el archivo "user_reviews.json/australian_user_reviews.json" con la codificación MacRoman.
with open(r"C:\Users\Admin\Downloads\Primer Proyecto\DS\australian_user_reviews.json", encoding='utf-8') as f:
    # Leer cada línea del archivo.
    for line in f.readlines():
        # Utilizar "ast.literal_eval" para convertir cada línea en un diccionario de Python
        # y agregarlo a la lista "rows".
        rows.append(ast.literal_eval(line))

#Crear un DataFrame de Pandas a partir de la lista de diccionarios "rows".
df_reviews = pd.DataFrame(rows)
#Veamos unos registros al asar

df_reviews.head(1)
#df_user_reviews.shape

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."

In [3]:
from textblob import TextBlob

def sentiment_analysis(review):
    if isinstance(review, list) and len(review) > 0:
        text = review[0].get('review', '')  # Obtener el texto de la reseña
        sentiment = TextBlob(text).sentiment.polarity

        if sentiment < -0.2:
            return 0  # Malo
        elif sentiment >= -0.2 and sentiment <= 0.2:
            return 1  # Neutral
        else:
            return 2  # Positivo
    else:
        return 1  # Valor predeterminado para reseñas faltantes

In [4]:
df_reviews['sentiment_analysis'] = df_reviews['reviews'].apply(sentiment_analysis)

In [5]:
df_reviews

,user_id,user_url,reviews,sentiment_analysis
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2...",1
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014...",1
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',...",2
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2...",2
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',...",1
...,...,...,...,...
25794,76561198306599751,http://steamcommunity.com/profiles/76561198306...,"[{'funny': '', 'posted': 'Posted May 31.', 'la...",2
25795,Ghoustik,http://steamcommunity.com/id/Ghoustik,"[{'funny': '', 'posted': 'Posted June 17.', 'l...",1
25796,76561198310819422,http://steamcommunity.com/profiles/76561198310...,"[{'funny': '1 person found this review funny',...",1
25797,76561198312638244,http://steamcommunity.com/profiles/76561198312...,"[{'funny': '', 'posted': 'Posted July 21.', 'l...",2
25798,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,"[{'funny': '1 person found this review funny',...",1

In [6]:
data_desanidada = []

#Itera sobre las filas del DataFrame df_reviews, donde index es el índice de la fila y row es un objeto que contiene los valores de cada columna en esa fila.

for index, row in df_reviews.iterrows():
    user_id = row['user_id']
    user_url = row['user_url']
    sentiment_analysis_value = row['sentiment_analysis']  # Obtener el valor de sentiment_analysis
    reviews = row['reviews']

#El siguiente bucle for i in reviews: itera sobre cada reviews en la lista de reviews para esa fila.
    
    for i in reviews:   

    #Es un diccionario que almacena todos los valores relevantes de la fila actual, incluidos los valores de reseñas desanidadas
    # y el resultado del análisis de sentimiento calculado con la función sentiment_analysis.    
        
        new_row = {
            'user_id': user_id,
            'user_url': user_url,
            'reviews': reviews,
            'sentiment_analysis': sentiment_analysis_value,  
            'funny': i.get('funny', ''),
            'posted': i.get('posted', ''),
            'last_edited': i.get('last_edited', ''),
            'item_id': i.get('item_id', ''),
            'helpful': i.get('helpful', ''),
            'recommend': i.get('recommend', False),  
            'review': i.get('review', '')
        }
    # agrega el diccionario new_row a la lista data_desanidada.    
        data_desanidada.append(new_row)

# Crear un DataFrame a partir de la lista data_desanidada
df_reviews_desanidada = pd.DataFrame(data_desanidada)

In [7]:
#Eliminarmos las columnas innecesarias.
df_reviews_desanidada.drop(['reviews', 'helpful', 'review','last_edited','funny'], axis=1, inplace=True)
df_reviews_desanidada

,user_id,user_url,sentiment_analysis,posted,item_id,recommend
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,"Posted November 5, 2011.",1250,True
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,"Posted July 15, 2011.",22200,True
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,"Posted April 21, 2011.",43110,True
3,js41637,http://steamcommunity.com/id/js41637,1,"Posted June 24, 2014.",251610,True
4,js41637,http://steamcommunity.com/id/js41637,1,"Posted September 8, 2013.",227300,True
...,...,...,...,...,...,...
59300,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,Posted July 10.,70,True
59301,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,Posted July 8.,362890,True
59302,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,Posted July 3.,273110,True
59303,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,Posted July 20.,730,True
59304,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,Posted July 2.,440,True

In [8]:
#Cambiamos el formato de fecha

from dateutil import parser

# Función para analizar la fecha y manejar errores
def parse_date(date_str):
    try:
        #Quitar la palabra posted en las filas de la columna 'posted' 
        return parser.parse(date_str.replace("Posted ", ""), fuzzy=True)
    except ValueError:
        return None

# Aplicar la función de análisis de fecha y reemplazar filas con fechas incorrectas con NaN
df_reviews_desanidada['posted'] = df_reviews_desanidada['posted'].apply(parse_date)

# Eliminar filas con fechas incorrectas (NaN en la columna "posted")
df_reviews_desanidada = df_reviews_desanidada.dropna(subset=['posted'])

# Ahora, la columna "posted" contiene las fechas en el formato deseado y se han eliminado las filas con fechas incorrectas
df_reviews_desanidada

,user_id,user_url,sentiment_analysis,posted,item_id,recommend
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,2011-11-05,1250,True
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,2011-07-15,22200,True
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,1,2011-04-21,43110,True
3,js41637,http://steamcommunity.com/id/js41637,1,2014-06-24,251610,True
4,js41637,http://steamcommunity.com/id/js41637,1,2013-09-08,227300,True
...,...,...,...,...,...,...
59300,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,2024-07-10,70,True
59301,76561198312638244,http://steamcommunity.com/profiles/76561198312...,2,2024-07-08,362890,True
59302,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,2024-07-03,273110,True
59303,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,2024-07-20,730,True
59304,LydiaMorley,http://steamcommunity.com/id/LydiaMorley,1,2024-07-02,440,True

In [9]:
#Guardamos en un nuevo archivo fromato CSV
df_reviews_desanidada.to_csv(r'C:/Users/Admin/Downloads/Primer Proyecto/DS/user_reviews_clean.csv', index=False, encoding='utf-8')