In [2]:
import pandas as pd
import ast

In [3]:

rows = []
#Abrir el archivo "user_reviews.json/australian_user_reviews.json" con la codificación MacRoman.
with open(r"C:\Users\Admin\Downloads\Primer Proyecto\DS\australian_users_items.json", encoding='utf-8') as f:
    # Leer cada línea del archivo.
    for line in f.readlines():
        # Utilizar "ast.literal_eval" para convertir cada línea en un diccionario de Python
        # y agregarlo a la lista "rows".
        rows.append(ast.literal_eval(line))

#Crear un DataFrame de Pandas a partir de la lista de diccionarios "rows".
df_items = pd.DataFrame(rows)
#Veamos unos registros al asar

df_items.head(1)
#df_user_reviews.shape

,user_id,items_count,steam_id,user_url,items
0,76561197970982479,277,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'item_id': '10', 'item_name': 'Counter-Strik..."

In [20]:
df_items['items']

0        [{'item_id': '10', 'item_name': 'Counter-Strik...
1        [{'item_id': '10', 'item_name': 'Counter-Strik...
2        [{'item_id': '1200', 'item_name': 'Red Orchest...
3        [{'item_id': '10', 'item_name': 'Counter-Strik...
4        [{'item_id': '300', 'item_name': 'Day of Defea...
                               ...
88305    [{'item_id': '413850', 'item_name': 'CS:GO Pla...
88306    [{'item_id': '11020', 'item_name': 'TrackMania...
88307                                                   []
88308    [{'item_id': '304930', 'item_name': 'Unturned'...
88309                                                   []
Name: items, Length: 88310, dtype: object

In [21]:
# Creamos una lista para almacenar los datos desanidados
data_desanidada = []

# Iterar sobre cada fila del DataFrame original
for index, row in df_items.iterrows():
    user_id = row['user_id']
    steam_id = row['steam_id']
    user_url = row['user_url']
    item_count = row['items_count']
    
    # Iterar sobre cada elemento en la lista 'items' de la fila actual
    for item in row['items']:
        new_row = {
            'user_id': user_id,
            'steam_id': steam_id,
            'user_url': user_url,
            'item_id': item['item_id'],
            'item_count': item_count,
            'item_name': item['item_name'],
            'playtime_forever': item['playtime_forever'],
            'playtime_2weeks': item['playtime_2weeks']
        }
        
        data_desanidada.append(new_row)

# Crear un nuevo DataFrame a partir de la lista desanidada
df_items_desanidado = pd.DataFrame(data_desanidada)

In [22]:
dicc = {"Campo": [], "Tipo_de_dato": [], "Nulos": []}

for columna in df_items_desanidado.columns:
    dicc["Campo"].append(columna)
    dicc["Tipo_de_dato"].append(df_items_desanidado[columna].apply(type).unique())
    dicc["Nulos"].append(df_items_desanidado[columna].isnull().sum())

df_info = pd.DataFrame(dicc)
df_info

              Campo     Tipo_de_dato  Nulos
0           user_id  [<class 'str'>]      0
1          steam_id  [<class 'str'>]      0
2          user_url  [<class 'str'>]      0
3           item_id  [<class 'str'>]      0
4        item_count  [<class 'int'>]      0
5         item_name  [<class 'str'>]      0
6  playtime_forever  [<class 'int'>]      0
7   playtime_2weeks  [<class 'int'>]      0

In [23]:
df_items_desanidado['item_name'] = df_items_desanidado['item_name'].str.lower()

In [24]:
filas_duplicadas = df_items_desanidado[df_items_desanidado.duplicated(subset=["user_id", "steam_id", "item_id", "playtime_forever"], keep=False)]
filas_duplicadas

,user_id,steam_id,user_url,item_id,item_count,item_name,playtime_forever,playtime_2weeks
4344,76561198156664158,76561198156664158,http://steamcommunity.com/profiles/76561198156...,4000,59,garry's mod,269,0
4345,76561198156664158,76561198156664158,http://steamcommunity.com/profiles/76561198156...,33910,59,arma 2,162,0
4346,76561198156664158,76561198156664158,http://steamcommunity.com/profiles/76561198156...,33930,59,arma 2: operation arrowhead,223,0
4347,76561198156664158,76561198156664158,http://steamcommunity.com/profiles/76561198156...,219540,59,arma 2: operation arrowhead beta (obsolete),0,0
4348,76561198156664158,76561198156664158,http://steamcommunity.com/profiles/76561198156...,400,59,portal,196,0
...,...,...,...,...,...,...,...,...
4898223,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,213670,39,south park™: the stick of truth™,725,0
4898224,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,221910,39,the stanley parable,53,0
4898225,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,261030,39,the walking dead: season two,253,0
4898226,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,273110,39,counter-strike nexon: zombies,0,0
4898227,76561198080057659,76561198080057659,http://steamcommunity.com/profiles/76561198080...,730,39,counter-strike: global offensive,0,0

In [25]:
#Eliminamos duplicados
df_items_desanidado = df_items_desanidado.drop_duplicates(subset=["user_id", "steam_id", "item_id", "playtime_forever"], keep='first')
df_items_desanidado.shape

(5094092, 8)

In [26]:
df_items_desanidado.isna().sum()

user_id             0
steam_id            0
user_url            0
item_id             0
item_count          0
item_name           0
playtime_forever    0
playtime_2weeks     0
dtype: int64

In [27]:
#Eliminamos columnas que no usaremos en nuestra API
df_items_desanidado = df_items_desanidado.drop(['playtime_2weeks', 'user_url', 'steam_id' ], axis=1)
df_items_desanidado.columns

Index(['user_id', 'item_id', 'item_count', 'item_name', 'playtime_forever'], dtype='object')

In [28]:
df_items_desanidado

,user_id,item_id,item_count,item_name,playtime_forever
0,76561197970982479,10,277,counter-strike,6
1,76561197970982479,20,277,team fortress classic,0
2,76561197970982479,30,277,day of defeat,7
3,76561197970982479,40,277,deathmatch classic,0
4,76561197970982479,50,277,half-life: opposing force,0
...,...,...,...,...,...
5153204,76561198329548331,346330,7,brainbread 2,0
5153205,76561198329548331,373330,7,all is dust,0
5153206,76561198329548331,388490,7,one way to die: steam edition,3
5153207,76561198329548331,521570,7,you have 10 seconds 2,4
5153208,76561198329548331,519140,7,minds eyes,3

In [29]:
#Guardamos en un nuevo archivo fromato CSV
df_items_desanidado.to_csv(r'C:/Users/Admin/Downloads/Primer Proyecto/DS/user_items_clean.csv', index=False, encoding='utf-8')